/* Write your CSS code here */
.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  text-align: center;
  height: 30px;
  width: 80px;
}

.row-wise {
  display: flex;
  list-style-type: none;
}
li {
  margin: 10px;
}

.btn {
  background-color: #0b69ff;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
}
